/* General Styles */
body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
}
header {
   background-color: #333;
   color: white;
   padding: 10px 0;
}
nav ul {
   list-style-type: none;
   display: flex;
   justify-content: center;
}
nav ul li {
   margin: 0 15px;
}
nav ul li a {
   color: white;
   text-decoration: none;
}
section {
   padding: 20px;
}
#about {
   background-color: #f4f4f4;
}
#projects .project {
   margin-bottom: 15px;
}
footer {
   text-align: center;
   background-color: #333;
   color: white;
   padding: 10px 0;
}
.profile-img {
   width: 150px;
   height: 150px;
   border-radius: 50%;
   display: block;
   margin: 15px auto;
   border: 3px solid #333;
}
